{% extends 'base.html.twig' %}

{% block title %}Modifier un Employé{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Modifier les informations de l'employé</h1>

        <form method="post">
            {{ form_start(form, {'method': 'POST'}) }}
            
            {{ form_row(form.nom) }}
            {{ form_row(form.poste) }}
            {{ form_row(form.statut) }}

           

            {{ form_end(form) }}
        </form>

        <a href="{{ path('employe_list') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    </div>
{% endblock %}
