{% extends 'base.html.twig' %}

{% block title %}Ajouter un Employé{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h2>Ajouter un nouvel Employé</h2>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_label(form.nom, 'Nom de l\'Employé') }}
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.poste, 'Poste') }}
                    {{ form_widget(form.poste, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.statut, 'Statut') }}
                    {{ form_widget(form.statut, {'attr': {'class': 'form-select'}}) }}
                </div>
                <div class="mt-4">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
